* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    max-width: 100%;
}

body {
    background-color: #F1EFEF;
    color: white;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    font-family: "Exo", sans-serif;
    font-size: 2vh;

}

html,
body {
    height: 100%;
}

#clock {
    text-align: center;
    color: #2B2A2A;
    margin: 0 auto;
    font-size: 50vh;
    font-family: 'Pacifico', cursive;
}

footer {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100vw;
    background: #2B2A2A;
    color: white;
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: 80px;*/
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 110%;
    position: absolute;
}

.plot {
    background-color: white;
    border: 2px solid #690e90;
    padding: 10px;
    border-radius: 4px;
    margin: 10px auto;
    max-height: 320px;
    opacity: 0.8;
}

svg {
    margin: auto auto;
    display: block;
    text-align: right;
    background-color: white;

}

svg line {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: dash 1s 0s linear forwards;

}

svg rect:hover, polygon:hover, path:hover {
    fill: blue;
    transition-duration: 0.4s;
}

svg circle {
    animation: appear 0.5s 0s linear forwards;
    transition-duration: 0.6s;

}

@keyframes full-opacity-anim {
    from {
        fill-opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes dash {
    0% {
        fill-opacity: 0;
    }
    50% {
        fill-opacity: .10;
    }
    60% {
        fill-opacity: .15;
    }
    70% {
        fill-opacity: .20;
    }
    80% {
        fill-opacity: .35;
    }

    to {
        stroke-dashoffset: 0;
        fill-opacity: .40;
    }
}

tbody {
    min-width: 300px;
    min-height: 300px;
    width: 15vh;
}

tr {
    height: 15vh;
    min-height: 50px;
}

td {
    min-width: 15vh;
    min-height: 50px;
}

table {
    background-color: #ff33cc;
}

.table-container {
    width: 100%;
    padding: 10px;
}

.res-table {
    width: 100%;
    max-width: 100%;
    background: #B1AEAE;
    line-height: 2;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
    opacity: 0.8;
}

.res-table caption {
    background: #2B2A2A;
}

.res-table th {
    background: dimgray;
}

.msg {
    border-radius: 4px;
    width: 100%;
    height: 20px;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

.err-msg {
    background: rgba(255, 98, 97, 0.44);
    color: #c9302c;
}

.ok-msg {
    color: white;
    background: #23d5ab;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all 2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active до версии 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
