<html xmlns="http://www.w3.org/1999/xhtml"
>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/background.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/header.css">

    <title>Hello page</title>
    <style>
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<header class='header' data-animate-header-container>
    <menu class='header-bar' data-animate-header>
        <a class='btn-menu' data-toggle-class='menu-active' href='https://vk.com/mashina.katherina'>Машина Е.</a>
        <a href="https://vk.com/" class='btn-menu' data-toggle-class='menu-active'>null</a>
        <a href='http://www.ifmo.ru/ru/schedule/0/P3210/raspisanie_zanyatiy_P3210.htm' class='btn-search'
           data-toggle-class='search-active'>Группа P3210</a>
    </menu>
</header>
<div class="content" style="margin: auto">
    <h1>Welcome!</h1>

    <p>Click <a href="main">here</a> to see a main page.</p>
</div>
</body>
</html>